{% extends 'starter.html' %}
{% load static %}
{% block treeview %}
    <li class="active treeview menu-open">
        <a href="#"><i class="fa fa-calendar"></i> <span>矿机管理</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/lukServer/lukservice"><i class="fa fa-calendar-check-o"></i>程序监控</a></li>
            <li class="active"><a href="/lukServer/luksensor"><i class="fa fa-calendar-check-o"></i>温度监控</a></li>
        </ul>
    </li>
{% endblock treeview %}
{% block content %}
    <table id="luk_sensor" class="table table-hover" width="95%" align="center" style=" word-break:break-all;"></table>
{% endblock %}
{% block script %}
    <script src="{% static 'lukMsg/scripts/luksensor.js' %}"></script>
{% endblock script %}